<!--Page Body-->
<main class="page-body">
    <!--start section-->
    <section class="section">
        <!-- start row -->
        <div class="row m-b-0">
            <!-- start column -->
            <div class="col m12">
                <h3 class="header">Create Schedule</h3>

                <div class="row sched-view">
                    <div class="col s12">
                        <ul class="collapsible" data-collapsible="accordion">
                            <li class="active">
                                <div class="collapsible-header active">
                                    <i class="material-icons">filter_drama</i>First</div>
                                <div class="collapsible-body" style="display: block;">
                                    <div class="row center">
                                        <a class="waves-effect waves-light btn btn-rounded blue"><i class="material-icons white-text left">add</i>Add Shift</a>
                                    </div>
                                    <div class="row">
                                        <div class="col s12">
                                            <ul class="collection" style="overflow: visible">
                                                <li class="collection-item">
                                                    <div class="row valign-wrapper">
                                                        <div class="col s3">
                                                            <!-- Dropdown button -->
                                                            <a class="dropdown-button waves-effect waves-light btn blue" href="#" data-activates="dropdown-block">Select Employee<i class="material-icons white-text right">arrow_drop_down</i></a><ul id="dropdown-block" class="dropdown-content" style="width: 170.672px; position: absolute; top: 741.812px; left: 45px; display: none; opacity: 1;">
                                                                <li><a href="#!">one</a></li>
                                                                <li><a href="#!">two</a></li>
                                                                <li class="divider"></li>
                                                                <li><a href="#!">three</a></li>
                                                            </ul>
                                                            <!-- Dropdown button structure -->
                                                        </div>
                                                        <div class="col s9">
                                                            <input id="range_16" />
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="collection-item">
                                                   
                                                <!-- Dropdown button -->
                                                <a class="dropdown-button waves-effect waves-light btn blue" href="#" data-activates="dropdown-block">Select Employee<i class="material-icons white-text right">arrow_drop_down</i></a><ul id="dropdown-block" class="dropdown-content" style="width: 170.672px; position: absolute; top: 741.812px; left: 45px; display: none; opacity: 1;">
                                                    <li><a href="#!">one</a></li>
                                                    <li><a href="#!">two</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#!">three</a></li>
                                                </ul>
                                                <!-- Dropdown button structure -->
                                                
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">place</i>Second</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">
                                    <i class="material-icons">whatshot</i>Third</div>
                                <div class="collapsible-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- end column -->
            </div>
            <!-- end row -->

    </section>
    <!--end section-->

</main>
<!--End page body-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>