<!--Page Body-->
<main class="page-body">
    <!--start section-->
    <section class="section">
        <!-- start row -->
        <div class="row m-b-0">
            <!-- start column -->
            <div class="col s12 m6">
                <h3 class="header">Create New User</h3>
                <!--start card-->
                <div class="card m-b-10">
                    <!--card content-->
                    <div class="card-content">
                        <!-- admin approval card -->
                        <div id="admin-approval-card">
                            <div class="row">
                                <div class="col s12 m12">
                                    {{#if success_msg}}
                                    <div class="card green lighten-4">
                                        <div class="card-content white-text">
                                            <p><i class="material-icons">check</i>{{success_msg}}</p>
                                        </div>
                                        </div>
                                    {{/if}} 
                                    {{#if error_msg}}
                                    <div class="card red lighten-3">
                                        <div class="card-content white-text">
                                            <p><i class="material-icons">warning</i>{{error_msg}}</p>
                                        </div>
                                        </div>
                                    {{/if}} 
                                    {{#if errors}} 
                                    {{#each errors}}
                                    <div class="card red lighten-3">
                                        <div class="card-content white-text">
                                            <p><i class="material-icons">warning</i>{{this.msg}}</p>
                                        </div>
                                        </div>
                                    {{/each}} 
                                    {{/if}}
                                </div>
                            </div>
                            <form action="/auth/register" method="post">
                                <div>
                                    <label>First Name:</label>
                                    <input type="text" name="firstName" />
                                </div>
                                <div>
                                    <label>Last Name:</label>
                                    <input type="text" name="lastName" />
                                </div>
                                <div>
                                    <label>Email:</label>
                                    <input type="text" name="email" />
                                </div>
                                <div>
                                    <label>Phone Number:</label>
                                    <input type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="123-456-7890" />
                                </div>
                                <div>
                                    <label>Profile Picture:</label>
                                    <input type="text" name="picture" />
                                </div>
                                <div>
                                    <label>Password:</label>
                                    <input type="password" name="password" />
                                </div>
                                <div>
                                    <label>Confirm Password:</label>
                                    <input type="password" name="password2" />
                                </div>


                                <div>
                                    <input type="submit" value="Register" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--end card content-->
                </div>
                <!--end card content-->
            </div>
            <!-- end column -->

    </section>
    <!--end section-->

</main>
<!--End page body-->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>