<input id="range_{{this.id}}"/>

<button class="delete-shift material-icons" data-del-id="{{this.id}}">delete</button>
<button class="update-shift material-icons" data-update-id="{{this.id}}">system_update_alt</button>